div.wrapper-about {
    .main-title-information {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    .main-title-information-1 {
        font-size: 1.5rem;
    }
    .about-introduction .title-about-introduction {
        font-size: 1.5rem;
    }
    .about-story, .about-vision {
        font-size: 1.5rem;
    }
}
